// GLOBAL VARIABLES
$primaryColor: pink;

// || COMMON
// || LINKBUTTON
.defaultButton {
  background-color: $primaryColor;
}

// || LANDINGPAGE
.landingCont {
  background-color: $primaryColor;
  height: 100vh;
}
