/* | PAGE CONTAINERS */
.overFlowControl {
  overflow: hidden;
  position: relative;
}

.formPageContainer {
  background-color: #081229;
  height: 100vh;
}

/* | FORM CONTAINER */
.formContainer {
  background-color: white;
  border-radius: 5px;
  padding: 30px 10px;
  width: 40%;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: transform 1s;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hideToRight {
  transition: transform 1s;
  transform: translate(130vw, -50%);
}

.hideToLeft {
  transition: transform 1s;
  transform: translate(-130vw, -50%);
}

.floatingLabelForm {
  margin: auto;
  width: 70%;
}

/* | INPUT GROUP */

.floatingLabelGroup {
  margin-top: 25px;
  position: relative;
  width: 100%;
}

.floatingLabelGroup:first-child {
  margin-top: 0;
}

.floatingInputField {
  box-sizing: border-box;
  font-size: large;
  height: 3.2rem;
  padding: 2px 10px;
  position: relative;
  width: 100%;
}

.floatingLabel {
  color: #cccccc;
  font-size: 1.2rem;
  padding: 0 3px;
  pointer-events: none;
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.floatingInputField:focus ~ .floatingLabel,
.floatingInputField:not(:focus):valid ~ .floatingLabel {
  background-color: white;
  bottom: 0px;
  color: #404040;
  font-size: 0.9rem;
  height: 1rem;
  opacity: 1;

  top: 0px;
  left: 5px;
}

.inputErrorMessage {
  align-self: start;
  color: rgba(255, 0, 0, 0.616);
  margin-top: 3px;
}

/* | FORM BUTTONS */

.submitButton {
  background-color: #081229;
  border: none;
  border-radius: 500px;
  color: white;
  font-size: large;
  font-weight: bold;
  height: 3.2rem;
  margin: 20px 0;
  outline: none;
  padding: 0;
  transition: all 0.5s;
  width: 100%;
}

.submitButton:hover {
  background-color: #263566;
  cursor: pointer;
  transition: all 0.8s;
}

.switchFormButton {
  background-color: white;
  border: 1px solid #081229;
  color: #081229;
  margin-top: 0;
  width: 70%;
}

.switchFormButton:hover {
  background-color: #263566;
  color: white;
  transition: all 0.8s;
}

/* | SUBFORM */

.divider {
  border-top: 1px solid lightgray;
  margin: 10px auto;
  width: 90%;
}

.switchFormHeading {
  font-size: 1.2rem;
  margin: 25px 0;
}
